src/test/template/mixed/SCHEMA2.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="SCHEMA2" targetNamespace="SCHEMA2"
	xmlns:la="http://lightair.sourceforge.net/">
	<xsd:import namespace="http://lightair.sourceforge.net/" schemaLocation="light-air-types.xsd" />
	<xsd:element name="table21" type="table21__type" />
	<xsd:complexType name="table21__type">
		<xsd:attribute name="a3" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="int3" use="optional" type="la:ColumnType" />
	</xsd:complexType>
</xsd:schema>
