src/test/template/hsql/dataset.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:dflt="PUBLIC">
	<xsd:import namespace="PUBLIC" schemaLocation="PUBLIC.xsd" />
	<xsd:element name="dataset">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="table1" type="dflt:table1__type" />
				<xsd:element name="table2" type="dflt:table2__type" />
				<xsd:any namespace="PUBLIC" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
