src/test/template/hsql/PUBLIC-hsql.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="PUBLIC" targetNamespace="PUBLIC">
	<xsd:element name="TABLEHSQL" type="TABLEHSQL__type" />
	<xsd:complexType name="TABLEHSQL__type">
		<xsd:attribute name="INTHSQL" use="optional" />
		<xsd:attribute name="ID" use="optional" />
		<xsd:attribute name="AHSQL" use="optional" />
		<xsd:attribute name="TABLEHSQLID" use="optional" />
	</xsd:complexType>
</xsd:schema>
